.form__btn-sign-up,
.form__btn-sign-in {
	color: #000000;
	text-transform: uppercase;
	cursor: pointer;
	background-color: transparent;
	border: none;
	font-size: 14px;
	font-weight: 700;
}

.form__btn-sign-up.active {
	color: red;
}

.form__btn-sign-in.active {
	color: red;
}

.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}